<div class="jumbotron text-center">
<h1>CELU.MOBI</h1>
<p>Venda seu celular rápido e sem crise!</p></br>
  <p>
    <%= link_to "Registre-se", new_user_registration_path, class: "btn btn-success btn-lg" %></br>
  </p>
</div>