<div class="text-center" id="sobre">
  <h1>Sobre</h1></br>
  <p>Venda seu celular rápido e sem crise!</p></br>
  <p>Desenvolvido por <%= link_to "Gustavo Varallo", "http://varallo.me", :target => "_blank" %>.</p></br>
  <%= link_to 'Voltar', root_path, class: "btn btn-success btn-lg" %>
</div>